<div class="ecchannel-container">
    <form method="post" action="" accept-charset="UTF-8">
        <input type="hidden" name="action" value="ebayFeed/EbaySync/SyncAllEbayEntries">
        <input type="hidden" name="redirect" value="ebayFeed/EbaySync">
        <p>This widget will sync all the product data from your ebay account, and, turn them into pages.</p>
        <p>This could take a few minutes</p>
        <button class="btn submit large icon" type="submit">{{ "Syncronise database with Ebay"|t }}</button>
    </form>
</div>
